.bg-logo {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../../../../assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  animation: pulse 3s ease-in-out infinite;
  filter: drop-shadow(0 0 10px #cfbcff);
  z-index: 1;
  opacity: 50%;
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 4px #cfbcff);
  }
  50% {
    filter: drop-shadow(0 0 20px #cfbcff);
  }
  100% {
    filter: drop-shadow(0 0 4px #cfbcff);
  }
}
