<div
  mat-dialog-title
  class="header-container"
  [class.bottom-sheet-header]="isPlatformMobile"
>
  <mat-icon>add_circle</mat-icon>
  <span>{{
    isTransfer
      ? ("APP.TRANSFER_MONEY" | translate)
      : ("APP.MAKE_PAYMENT" | translate)
  }}</span>
</div>
<mat-divider [ngClass]="{ 'my-4': isPlatformMobile }"></mat-divider>
<mat-dialog-content>
  <form
    [formGroup]="addTransactionForm"
    [ngClass]="{ 'p-4 pb-0': isPlatformMobile }"
    (ngSubmit)="addTransaction()"
  >
    @if (isTransfer) {
    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "SELECT_ACCOUNT_NUMBER" | translate }}</mat-label>
      <mat-select formControlName="accountNo">
        @for (account of personalAccountList(); track $index) {
        <mat-option [value]="account.accountNo"
          >{{ account.bankName }} - {{ account.accountNo }}</mat-option
        >
        }
      </mat-select>
      @if(addTransactionForm.get('accountNo')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>
    } @else {
    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "FROM_ACCOUNT_NUMBER" | translate }}</mat-label>
      <mat-select
        formControlName="accountNo"
        (selectionChange)="selectAccount($event)"
      >
        @for (account of paymentAccountList(); track $index) {
        <mat-option [value]="account.accountNo"
          >{{ account.bankName }} - {{ account.accountNo }}</mat-option
        >
        }
      </mat-select>
      <mat-hint
        >{{ "AVAILBLE_BALANCE" | translate }}
        {{ availableBalanceOfSelectedAccount }}</mat-hint
      >
      @if(addTransactionForm.get('accountNo')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>
    } @if(isTransfer) {
    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "BENEFICIARY_AC" | translate }}</mat-label>
      <mat-select formControlName="benificiaryAccountNumber">
        @for (account of beneficiaryAccountList(); track $index) {
        <mat-option [value]="account.accountNo"
          >{{ account.bankName }} - {{ account.accountNo }}</mat-option
        >
        }
      </mat-select>
      @if(addTransactionForm.get('benificiaryAccountNumber')?.hasError('required'))
      {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>
    } @if(!isTransfer) {
    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "PAYMENT_TYPE" | translate }}</mat-label>
      <mat-select formControlName="paymentType">
        @for (payment of paymentTypeOptions; track $index) {
        <mat-option [value]="payment.value">{{
          payment.label | uppercase | translate
        }}</mat-option>
        }
      </mat-select>
      @if(addTransactionForm.get('paymentType')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>
    } @if(!isTransfer && paymentTypeFormValue == 'dps') {
    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "SELECT_DPS" | translate }}</mat-label>
      <mat-select formControlName="dpsId">
        @for (dps of dpsListByAccountNo; track $index) {
        <mat-option [value]="dps.id">{{ dps.dpsName }} </mat-option>
        }@empty {
        <mat-option>{{
          "NO_DPS_FOUND_ASSOCIATED_WITH_ACCOUNT" | translate
        }}</mat-option>
        }
      </mat-select>
      @if(addTransactionForm.get('dpsId')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>
    }

    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "AMOUNT" | translate }}</mat-label>
      <input
        type="text"
        [attr.inputmode]="'numeric'"
        appDigitsOnly
        maxlength="8"
        matInput
        formControlName="amount"
      />
      @if(addTransactionForm.get('amount')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>
        {{
          isTransfer
            ? ("TRANSFER_DATE" | translate)
            : ("PAYMENT_DATE" | translate)
        }}
      </mat-label>
      <input
        type="text"
        matInput
        formControlName="date"
        [matDatepicker]="datePicker"
        [max]="todayDate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
      @if(addTransactionForm.get('date')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "TRANSACTION_ID" | translate }}</mat-label>
      <input type="text" matInput formControlName="transactionNumber" />
      @if(addTransactionForm.get('transactionNumber')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "NOTE" | translate }}</mat-label>
      <textarea formControlName="note" matInput></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions [ngClass]="{ 'bottom-sheet-footer': isPlatformMobile }">
  <button matButton (click)="close()">
    {{ "CANCEL" | translate }}
  </button>
  <button
    matButton="filled"
    [disabled]="addTransactionForm.invalid || !addTransactionForm.dirty"
    type="submit"
    (click)="addTransaction()"
  >
    {{ "ADD" | translate }}
  </button>
</mat-dialog-actions>
