/* styles.css */
@import "../../../styles/colors.scss";
.side-nav-conatiner {
  background: var(--mat-sys-surface-variant);
  color: var(--mat-sys-surface-on-variant);
}
.active-link {
  background-color: var(--mat-sys-inverse-primary);
  color: var(--mat-sys-on-primary-container);
  font-weight: 600;
}

.mat-mdc-nav-list .mat-mdc-list-item:hover {
  margin-left: 10px;
  transition: margin-left 2s;
}

.mat-mdc-nav-list .mat-mdc-list-item.active-link:hover {
  margin-left: 0;
  transition: none;
}
