<div class="flex flex-col justify-center items-center mt-40">
  <h1 class="mb-4 text-gray-400 display-medium">In Pay</h1>
  <mat-nav-list>
    @for (item of menuItems; track $index) {
    <a
      class="mb-3 list-item"
      mat-list-item
      [routerLink]="item.path"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle class="text-on-surface">{{ item.label }}</span>
    </a>
    }
  </mat-nav-list>
</div>
