@if (isLoading()) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div
  mat-dialog-title
  class="header-container"
  [class.bottom-sheet-header]="isPlatformMobile"
>
  <mat-icon>add_circle</mat-icon>
  <span>{{ "APP.DPS_PAYMENT" | translate }}</span>
</div>
<mat-divider [ngClass]="{ 'my-4': isPlatformMobile }"></mat-divider>
<mat-dialog-content>
  <form
    [formGroup]="dpsAddMoneyForm"
    [ngClass]="{ 'p-4 pb-0': isPlatformMobile }"
  >
    <mat-form-field class="w-full">
      <mat-label>{{ "PAYING_FOR" | translate }}</mat-label>
      <input type="text" matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>{{ "AMOUNT" | translate }}</mat-label>
      <input type="text" matInput formControlName="amount" />
      @if(dpsAddMoneyForm.get('amount')?.hasError('required')) {
      <mat-error>Amount is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ "SELECT_YEAR" | translate }}</mat-label>
      <mat-select
        formControlName="selectYear"
        (selectionChange)="changeYear($event)"
        #selectYear
      >
        @for (year of years; track $index) {
        <mat-option [value]="year">{{ year }}</mat-option>
        }
      </mat-select>
      @if(dpsAddMoneyForm.get('selectYear')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>{{ "SELECT_MONTH" | translate }}</mat-label>
      <mat-select formControlName="selectMonth">
        @for (idx of monthIdx; track $index) {
        <mat-option
          [value]="idx"
          [disabled]="
            isPaidAlready(selectYear.value, idx) ||
            isAhedOfFuture(selectYear.value, idx)
          "
          >{{ months[idx].en }}
          @if(isPaidAlready(selectYear.value, idx)) {
          <span class="text-green-600 label-medium">{{
            "PAID" | translate
          }}</span>
          }
        </mat-option>
        }
      </mat-select>
      @if(dpsAddMoneyForm.get('selectMonth')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions [ngClass]="{ 'bottom-sheet-footer': isPlatformMobile }">
  <button matButton (click)="close()">
    {{ "CANCEL" | translate }}
  </button>
  <button
    matButton="filled"
    [disabled]="
      dpsAddMoneyForm.invalid || !dpsAddMoneyForm.dirty || isLoading()
    "
    type="submit"
    (click)="addDpsMoney()"
  >
    <div class="flex flex-row gap-2">
      <span>{{ "ADD" | translate }}</span>
      @if(isLoading()) {
      <mat-spinner [diameter]="20"></mat-spinner>
      }
    </div>
  </button>
</mat-dialog-actions>
