@let account = bankAccount();
<div class="bank-card">
  <div class="bank-header">
    <div class="bank-name">{{ account.bankName }}</div>
    @if(account.accountType == bankAccountTypeEnum.Joint) {
    <button
      matIconButton
      matTooltip="{{ 'ADD_MEMBER' | translate }}"
      (click)="openDrawer.emit()"
      [allowedFor]="[role.Admin]"
    >
      <mat-icon>person_add</mat-icon>
    </button>
    }
  </div>

  <div class="card-body">
    <span class="label">{{ "ACCOUNT_NO" | translate }}</span>
    <span class="value">{{ account.accountNo }}</span>

    <span class="label">{{ "BRANCH_NAME" | translate }}</span>
    <span class="value">{{ account.branchName }}</span>

    <span class="label">{{ "BALANCE" | translate }}</span>
    <span class="value">{{ account.balance | taka }} </span>

    <span class="label">{{ "ACCOUNT_TYPE" | translate }}</span>
    <span class="value">{{ account.accountType | titlecase }}</span>

    <span class="label">{{ "TOTAL_MEMBERS" | translate }}</span>
    <span class="value">{{ account.accountHolders.length }}</span>
  </div>

  <div class="footer">
    @if(account.canDelete) {
    <button matButton="filled" (click)="deleteAccount.emit()">
      {{ "DELETE_ACCOUNT" | translate }}
    </button>
    } @if(account.canUpdate) {
    <button matButton="elevated" (click)="updateAccount.emit()">
      {{ "EDIT_ACCOUNT" | translate }}
    </button>
    }
  </div>
</div>
