.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  //align-items: start;
}

.dashboard-chip {
  border: 2px solid var(--mat-sys-surface-variant);
  background: var(--mat-sys-surface-bright);
}
