<div class="w-full p-4 flex flex-col gap-4" [animate.enter]="'enter-animation'">
  <div class="flex flex-row justify-between">
    <div class="flex flex-col gap-1">
      <span class="title-large">{{ "MEMBERS" | translate }}</span>
      <span class="label-small text-gray-400">{{
        "LIST_OF_ALL_MEMBERS" | translate
      }}</span>
    </div>
    <!-- <div class="hidden md:block">
      <button
        matFab
        extended
        color="primary"
        (click)="openCreateTransactionDialog()"
      >
        <mat-icon>add</mat-icon>
        Add Transaction
      </button>
    </div>
    <div class="block md:hidden">
      <button matFab color="primary" (click)="openCreateTransactionDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div> -->
  </div>
  @if(isPlatformBrowser) {
  <div class="table-wrapper">
    <ngx-datatable
      class="material custom-datatable"
      [rows]="users()"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [rowHeight]="'auto'"
      [scrollbarH]="true"
      [footerHeight]="50"
      [messages]="{
        emptyMessage: 'NO_DATA_TO_DISPLAY' | translate,
        totalMessage: 'TOTAL' | translate
      }"
    >
    </ngx-datatable>
  </div>
  <mat-paginator
    [length]="totalCount()"
    [pageSize]="usersQueryPageLimit()"
    (page)="changePage($event)"
    aria-label="Select page"
  >
  </mat-paginator>
  }
</div>

<ng-template #headerCellTemplate let-column="column">
  <span>{{ column.name | translate }}</span>
</ng-template>

<ng-template #displayNameCellTemplate let-row="row" let-value="value">
  <div class="flex flex-col gap-1">
    <span class="font-bold">{{ value }}</span>
    <div class="flex flex-wrap gap-1">
      @if(hasTargetedRoles(row.roles, role.Admin)) {
      <mat-chip class="success">{{
        role.Admin | uppercase | translate
      }}</mat-chip>
      } @if(hasTargetedRoles(row.roles, role.User)) {
      <mat-chip class="warn">{{ role.User | uppercase | translate }}</mat-chip>
      }
    </div>
  </div>
</ng-template>

<ng-template #emailCellTemplate let-row="row" let-value="value">
  <span class="text-gray-500">{{ value }}</span>
</ng-template>

<ng-template #phoneNumberCellTemplate let-row="row" let-value="value">
  <span class="text-gray-500">{{ value }}</span>
</ng-template>

<ng-template #createdAtCellTemplate let-value="value">
  {{ value | date : "dd. MM. yyyy" }}, {{ value | date : "hh:mm a" }}
</ng-template>

<ng-template #statusCellTemplate let-value="value">
  @if(value) {
  <span class="text-green-500">{{ "ACTIVE" | translate }}</span>
  } @else {
  <span class="text-amber-600">{{ "NOT_ACTIVE" | translate }}</span>
  }
</ng-template>

<ng-template #actionCellTemplate let-value="value" let-row="row">
  @if(row.isActive) {
  <span class="flex flex-col gap-1" (click)="activateUser(value)">
    <span class="text-gray-400"> {{ "ACTIVATED_AT" | translate }} </span>
    <span class="text-gray-600 dark:text-gray-300">
      {{ row.activationDate | date : "dd. MM. yyyy" }},
      {{ row.activationDate | date : "hh:mm a" }}
    </span>
  </span>
  } @else {
  <span
    class="text-red-700 dark:text-red-400 flex flex-row gap-1 select-none cursor-pointer"
    (click)="activateUser(value)"
  >
    <mat-icon svgIcon="arrow_up_square"></mat-icon>
    {{ "DO_ACTIVE" | translate }}
  </span>
  }
</ng-template>
