@if (isLoading()) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div
  mat-dialog-title
  class="header-container"
  [class.bottom-sheet-header]="isPlatformMobile"
>
  <mat-icon>details</mat-icon>
  <span>{{ "APP.TRANSACTION_DETAILS" | translate }}</span>
</div>
<mat-divider [ngClass]="{ 'my-4': isPlatformMobile }"></mat-divider>
<mat-dialog-content>
  <div class="flex flex-col gap-4">
    <div class="flex flex-row space-between items-center w-full gap-4">
      <div class="flex flex-col w-full gap-1">
        <span class="body-small text-gray-400">{{
          "SOURCE_AC" | translate
        }}</span>
        <span class="body-large text-gray-600 dark:text-gray-300">{{
          transaction.sourceAc
        }}</span>
      </div>
      <div class="flex flex-col w-full gap-1">
        <span class="body-small text-gray-400">{{
          "SENDER_NAME" | translate
        }}</span>
        <span class="body-large text-amber-600">{{
          transaction.senderDisplayName
        }}</span>
      </div>
    </div>

    @if(transaction.transactionType == transactionTypeEnum.TransferMoney) {
    <div class="flex flex-row space-between items-center w-full gap-4">
      <div class="flex flex-col w-full gap-1">
        <span class="body-small text-gray-400">{{
          "BENEFICIARY_AC" | translate
        }}</span>
        <span class="body-large text-gray-600 dark:text-gray-300">{{
          transaction.destAc
        }}</span>
      </div>
    </div>
    } @if(transaction.transactionType == transactionTypeEnum.Payment) {
    <div class="flex flex-row space-between items-center w-full gap-4">
      <div class="flex flex-col w-full gap-1">
        <span class="body-small text-gray-400">{{
          "PAYMENT_TYPE" | translate
        }}</span>
        <span class="body-large text-pink-600 dark:text-pink-500">{{
          transaction.paymentType | uppercase | translate
        }}</span>
      </div>
      <div class="flex flex-col w-full gap-1">
        <span class="body-small text-gray-400">{{ "DPS" | translate }}</span>
        <span class="body-large text-gray-600 dark:text-gray-300">{{
          transaction.dpsName
        }}</span>
      </div>
    </div>
    }

    <div class="flex flex-row space-between items-center w-full gap-4">
      <div class="flex flex-col w-full gap-1">
        <span class="body-small text-gray-400">{{ "AMOUNT" | translate }}</span>
        <span class="body-large text-gray-600 dark:text-gray-300">{{
          transaction.amount | taka
        }}</span>
      </div>
      <div class="flex flex-col w-full gap-1">
        <span class="body-small text-gray-400">{{
          "TRANSACTION_ID" | translate
        }}</span>
        <span class="body-large text-gray-600 dark:text-gray-300">{{
          transaction.transactionNo
        }}</span>
      </div>
    </div>

    <div class="flex flex-row space-between items-center w-full gap-4">
      <div class="flex flex-col w-full gap-1">
        <span class="body-small text-gray-400">{{
          "TRANSFER_DATE" | translate
        }}</span>
        <span class="body-large text-gray-600 dark:text-gray-300">{{
          transaction.transactionDate | date : "dd. MM. yyyy"
        }}</span>
      </div>
      <div class="flex flex-col w-full gap-1">
        <span class="body-small text-gray-400">Status</span>
        <span class="body-large">
          @if (transaction.status == 'success') {
          <span
            class="label-medium bg-green-100 text-green-600 dark:bg-lime-100 dark:text-lime-600 px-2 py-1 rounded-sm"
            >{{ transaction.status | uppercase | translate }}</span
          >
          } @else {
          <span
            class="label-medium bg-yellow-100 text-yellow-600 dark:bg-yellow-100 dark:text-yellow-600 px-2 py-1 rounded-sm"
            >{{ transaction.status | uppercase | translate }}</span
          >
          }
        </span>
      </div>
    </div>

    <div class="flex flex-row space-between items-center w-full gap-4">
      <div class="flex flex-col w-full gap-1">
        <span class="body-small text-gray-400">{{ "NOTE" | translate }}</span>
        <span class="body-large text-gray-600 dark:text-gray-300">{{
          transaction.note
        }}</span>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions
  [ngClass]="{ 'bottom-sheet-footer': isPlatformMobile }"
  class="flex flex-row justify-end items-center"
>
  @if(transaction.status == 'success' || !shouldVisible()) {
  <div></div>
  }
  <button matButton (click)="close()">
    {{ "CLOSE" | translate }}
  </button>
  @if(transaction.status != 'success' && shouldVisible()) {
  <button
    matButton="filled"
    type="submit"
    (click)="updateStatus()"
    [disabled]="isSubmitting()"
  >
    <div class="flex flex-row gap-2">
      <span>{{ "CONFIRM" | translate }}</span>
      @if(isSubmitting()) {
      <mat-spinner [diameter]="20"></mat-spinner>
      }
    </div>
  </button>
  }
</mat-dialog-actions>
