@if (isLoading()) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div
  mat-dialog-title
  class="header-container"
  [class.bottom-sheet-header]="isPlatformMobile"
>
  <mat-icon>add_circle</mat-icon>
  <span>{{
    isUpdate
      ? ("APP.UPDATE_ACCOUNT" | translate)
      : ("APP.ADD_ACCOUNT" | translate)
  }}</span>
</div>
<mat-divider [ngClass]="{ 'my-4': isPlatformMobile }"></mat-divider>
<mat-dialog-content>
  <form
    [formGroup]="addBankAccountForm"
    [ngClass]="{ 'p-4 pb-0': isPlatformMobile }"
  >
    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "APP.ACCOUNT_NUMBER" | translate }}</mat-label>
      <input type="text" matInput formControlName="accountNo" />
      @if(addBankAccountForm.get('accountNo')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "SELECT_BANK" | translate }}</mat-label>
      <mat-select
        formControlName="bank"
        (selectionChange)="selectBank($event.value)"
      >
        @for (bank of bankList(); track $index) {
        <mat-option [value]="bank">{{ bank.name }}</mat-option>
        }
      </mat-select>
      @if(addBankAccountForm.get('bank')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "SELECT_BRANCH" | translate }}</mat-label>
      <mat-select formControlName="branch">
        @for (branch of branchList(); track $index) {
        <mat-option [value]="branch"
          >{{ branch.branch_name }} ({{ branch.routing_number }})</mat-option
        >
        }
      </mat-select>
      @if(addBankAccountForm.get('branch')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "SELECT_ACCOUNT_TYPE" | translate }}</mat-label>
      <mat-select formControlName="accountType">
        @if(isAdmin) {
        <mat-option [value]="accountTypeEnum.Joint">
          {{ accountTypeEnum.Joint | uppercase | translate }}
        </mat-option>
        }
        <mat-option [value]="accountTypeEnum.Personal">
          {{ accountTypeEnum.Personal | uppercase | translate }}
        </mat-option>
      </mat-select>
      @if(addBankAccountForm.get('accountType')?.hasError('required')) {
      <mat-error>{{ "THIS_FIELD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>

    @if(selectedAccountType == accountTypeEnum.Personal) {
    <mat-form-field class="w-full mb-4">
      <mat-label>{{ "ADD_MONEY" | translate }}</mat-label>
      <input
        type="text"
        [attr.inputmode]="'numeric'"
        appDigitsOnly
        maxlength="8"
        matInput
        formControlName="availableBalance"
      />
    </mat-form-field>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions [ngClass]="{ 'bottom-sheet-footer': isPlatformMobile }">
  <button matButton (click)="close()">
    {{ "CANCEL" | translate }}
  </button>
  <button
    matButton="filled"
    [disabled]="
      addBankAccountForm.invalid || !addBankAccountForm.dirty || isSubmitting()
    "
    type="submit"
    (click)="addUpdateTransaction()"
  >
    <div class="flex flex-row gap-2">
      {{ isUpdate ? ("UPDATE" | translate) : ("ADD" | translate) }}
      @if(isSubmitting()) {
      <mat-spinner [diameter]="20"></mat-spinner>
      }
    </div>
  </button>
</mat-dialog-actions>
