<div
  mat-dialog-title
  class="header-container"
  [class.bottom-sheet-header]="isPlatformMobile"
>
  <mat-icon>add_circle</mat-icon>
  <span>{{ "APP.ADD_ACCOUNT" | translate }}</span>
</div>
<mat-divider [ngClass]="{ 'my-4': isPlatformMobile }"></mat-divider>
<mat-dialog-content>
  <form
    [formGroup]="addBankAccountForm"
    (ngSubmit)="addTransaction()"
    [ngClass]="{ 'p-4 pb-0': isPlatformMobile }"
  >
    <mat-form-field class="w-full mb-4">
      <mat-label>A/C No.</mat-label>
      <input type="text" matInput formControlName="accountNumber" />
      @if(addBankAccountForm.get('accountNumber')?.hasError('required')) {
      <mat-error>A/C No. is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="w-full mb-4">
      <mat-label>Select Bank</mat-label>
      <mat-select
        formControlName="bankName"
        (selectionChange)="selectBank($event)"
      >
        @for (bank of bankList(); track $index) {
        <mat-option [value]="bank">{{ bank.name }}</mat-option>
        }
      </mat-select>
      @if(addBankAccountForm.get('bankName')?.hasError('required')) {
      <mat-error>Bank Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Select Branch</mat-label>
      <mat-select formControlName="branchName">
        @for (branch of branchList(); track $index) {
        <mat-option [value]="branch"
          >{{ branch.branch_name }} ({{ branch.routing_number }})</mat-option
        >
        }
      </mat-select>
      @if(addBankAccountForm.get('branchName')?.hasError('required')) {
      <mat-error>Branch Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Select Account Type</mat-label>
      <mat-select formControlName="accountType">
        @for (accountType of accountType; track $index) {
        <mat-option [value]="accountType.Value">{{
          accountType.label
        }}</mat-option>
        }
      </mat-select>
      @if(addBankAccountForm.get('accountType')?.hasError('required')) {
      <mat-error>Account Type is required</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions [ngClass]="{ 'bottom-sheet-footer': isPlatformMobile }">
  <button matButton mat-dialog-close>{{ "CANCEL" | translate }}</button>
  <button
    matButton="filled"
    [mat-dialog-close]="addTransaction()"
    [disabled]="addBankAccountForm.invalid"
    cdkFocusInitial
  >
    {{ "ADD" | translate }}
  </button>
</mat-dialog-actions>
