@if(isLoading()) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div class="flex flex-row items-center justify-center min-h-screen">
  <div class="md:basis-2/3 flex items-center justify-center h-full">
    <div class="w-full max-w-md p-8 rounded">
      <h2 class="text-2xl font-bold text-center mb-6">Member Registration</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full mb-4">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="firstName" />
          @if(signupForm.get('firstName')?.hasError('required')) {
          <mat-error>First Name is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full mb-4">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput formControlName="lastName" />
          @if(signupForm.get('lastName')?.hasError('required')) {
          <mat-error>Last Name is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full mb-4">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          @if (signupForm.get('email')?.hasError('required')) {
          <mat-error>Email is required</mat-error>
          } @if (signupForm.get('email')?.hasError('email')) {
          <mat-error> Enter a valid email </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full mb-4">
          <mat-label>Phone</mat-label>
          <span matPrefix class="ml-4">+880&nbsp;</span>
          <input
            matInput
            formControlName="phoneNumber"
            type="text"
            minlength="10"
            maxlength="10"
            inputmode="numeric"
            placeholder="1XXXXXXXXXX"
            (keypress)="allowOnlyDigit($event)"
          />
          @if (form.phoneNumber.hasError('required')) {
          <mat-error>Phone Number is required</mat-error>
          } @if(form.phoneNumber.hasError('maxlength') ||
          form.phoneNumber.hasError('minlength')) {
          <mat-error>Invalid phone number</mat-error>
          }
        </mat-form-field>

        <mat-form-field
          class="w-full mb-2"
          [ngClass]="{ 'mb-10': form.password.hasError('pattern') }"
        >
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePasswod() ? 'password' : 'text'"
          />
          <button
            matIconButton
            matSuffix
            (click)="togglePasswordVisibility($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePasswod()"
          >
            <mat-icon>{{
              hidePasswod() ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          @if(signupForm.get('password')?.hasError('required')) {
          <mat-error> Password is required </mat-error>
          } @if(form.password.hasError('pattern')) {
          <mat-error class="pb-6"
            >Password should be at least 8 characters long and include one
            uppercase letter, one lowercase letter, one digit, and one special
            character</mat-error
          >
          }
        </mat-form-field>

        <mat-form-field class="w-full mb-2">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" />
          @if(form.confirmPassword.hasError('required')) {
          <mat-error> Confirm Password is required </mat-error>
          } @if(form.confirmPassword.hasError('passwordsMisMatch')) {
          <mat-error>Password doesn't match</mat-error>
          }
        </mat-form-field>

        <button
          matButton="filled"
          class="w-full"
          [disabled]="signupForm.invalid"
        >
          Register
        </button>
      </form>

      <button class="mdc-notched-outline__notch"></button>

      <p class="text-center mt-4">
        Already have an account?
        <a
          routerLink="/login"
          class="text-blue-500 hover:underline cursor-pointer"
          >Login</a
        >
      </p>
    </div>
  </div>
</div>
