<div class="w-full p-4 flex flex-col gap-4" [animate.enter]="'enter-animation'">
  <div class="flex flex-col md:flex-row gap-4 justify-between">
    <div class="flex flex-col gap-1">
      <span class="title-large">Transactions</span>
      <span class="label-small text-gray-500 dark:text-gray-400"
        >Find all the transactions here</span
      >
    </div>
    <div class="flex flex-row gap-2">
      <button
        matFab
        extended
        (click)="openCreateTransactionDialog({ isTransfer: true })"
        color="primary"
      >
        <mat-icon>wallet</mat-icon>
        Transfer Money
      </button>
      <button
        [allowedFor]="'admin'"
        matFab
        extended
        class="secondary"
        (click)="openCreateTransactionDialog({ isTransfer: false })"
      >
        <mat-icon>payment_arrow_down</mat-icon>
        Make Payment
      </button>
    </div>
  </div>

  <div>
    <mat-tab-group
      dynamicHeight
      animationDuration="1000ms"
      mat-stretch-tabs="false"
    >
      <mat-tab label="Transfer History">
        @if(isPlatformBrowser) {
        <div class="table-wrapper mt-6">
          <ngx-datatable
            #transferMoneyTable
            class="material custom-datatable"
            [rows]="transferMoneyTransactions()?.data"
            [columns]="transferMoneyColumns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [footerHeight]="50"
            (activate)="onClickRow($event)"
          >
          </ngx-datatable>
        </div>
        <mat-paginator
          [length]="transferMoneyTransactions()?.totalCount"
          [pageSize]="tranferMoneyPageLimit()"
          (page)="changeTransferMoneyPage($event)"
          aria-label="Select page"
        >
        </mat-paginator>
        }
      </mat-tab>
      @if (shouldHide()) {
      <mat-tab label="Payment History">
        @if(isPlatformBrowser) {
        <div class="table-wrapper mt-6">
          <ngx-datatable
            #paymentListTable
            class="material custom-datatable"
            [rows]="paymentTransactions()?.data"
            [columns]="paymentColumns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [footerHeight]="50"
            (activate)="onClickRow($event)"
          >
          </ngx-datatable>
        </div>
        <mat-paginator
          [length]="paymentTransactions()?.totalCount"
          [pageSize]="paymentPageLimit()"
          (page)="changePaymentPage($event)"
          aria-label="Select page"
        >
        </mat-paginator>

        }
      </mat-tab>
      }
    </mat-tab-group>
  </div>
</div>

<ng-template #senderDisplayNameCellTemplate let-value="value">
  <span class="body-medium text-amber-600">{{ value }}</span>
</ng-template>
<ng-template #paymentTypeCellTemplate let-value="value">
  <span class="text-pink-600 dark:text-pink-500">{{ value | titlecase }}</span>
</ng-template>

<ng-template #dpsCellTemplate let-value="value">
  {{ getDpsInfo(value) }}
</ng-template>

<ng-template #transactionDateCellTemplate let-value="value">
  {{ value | date : "dd. MM. yyyy" }}
</ng-template>

<ng-template #statusCellTemplate let-value="value">
  @if (value == 'success') {
  <span class="text-green-600 dark:text-green-500">
    {{ value | titlecase }}
  </span>
  } @else {
  <span class="text-yellow-600 dark:text-amber-400">
    {{ value | titlecase }}
  </span>
  }
</ng-template>
