<div
  class="w-full p-4 flex flex-col gap-4 relative"
  [animate.enter]="'enter-animation'"
>
  <div class="flex flex-col md:flex-row gap-4 justify-between">
    <div class="flex flex-col gap-1">
      <span class="title-large">{{ "TRANSACTIONS" | translate }}</span>
      <span class="label-small text-gray-500 dark:text-gray-400">{{
        "FIND_ALL_THE_TRANSACTION_HERE" | translate
      }}</span>
    </div>
    <div class="flex flex-row gap-2">
      <button
        matFab
        extended
        (click)="openCreateTransactionDialog({ isTransfer: true })"
        color="primary"
      >
        <mat-icon>wallet</mat-icon>
        {{ "TRANSFER_MONEY" | translate }}
      </button>
      <button
        matFab
        extended
        class="secondary"
        (click)="openCreateTransactionDialog({ isTransfer: false })"
      >
        <mat-icon>payment_arrow_down</mat-icon>
        {{ "MAKE_PAYMENT" | translate }}
      </button>
    </div>
  </div>

  <div class="relative">
    <mat-tab-group
      dynamicHeight
      animationDuration="1000ms"
      mat-stretch-tabs="false"
    >
      <mat-tab label="{{ 'TRANFER_HISTORY' | translate }}">
        @if(isPlatformBrowser) {
        <div class="table-wrapper mt-6">
          <ngx-datatable
            #transferMoneyTable
            class="material custom-datatable"
            [rows]="transferMoneyTransactions()?.data"
            [columns]="transferMoneyColumns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [messages]="{
              emptyMessage: 'NO_DATA_TO_DISPLAY' | translate,
              totalMessage: 'TOTAL' | translate
            }"
            [footerHeight]="50"
            (activate)="onClickRow($event)"
          >
          </ngx-datatable>
        </div>
        <mat-paginator
          [length]="transferMoneyTransactions()?.totalCount"
          [pageSize]="tranferMoneyPageLimit()"
          (page)="changeTransferMoneyPage($event)"
          aria-label="Select page"
        >
        </mat-paginator>
        }
      </mat-tab>
      <mat-tab label="{{ 'PAYMENT_HISTORY' | translate }}">
        @if(isPlatformBrowser) {
        <div class="table-wrapper mt-6">
          <ngx-datatable
            #paymentListTable
            class="material custom-datatable"
            [rows]="paymentTransactions()?.data"
            [columns]="paymentColumns"
            [columnMode]="'force'"
            [messages]="{
              emptyMessage: 'NO_DATA_TO_DISPLAY' | translate,
              totalMessage: 'TOTAL' | translate
            }"
            [headerHeight]="50"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [footerHeight]="50"
            (activate)="onClickRow($event)"
          >
          </ngx-datatable>
        </div>
        <mat-paginator
          [length]="paymentTransactions()?.totalCount"
          [pageSize]="paymentPageLimit()"
          (page)="changePaymentPage($event)"
          aria-label="Select page"
        >
        </mat-paginator>

        }
      </mat-tab>
    </mat-tab-group>
  </div>
  @if(isLoading()) {
  <div
    class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-100"
  >
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  }
</div>

<ng-template #headerCellTemplate let-column="column">
  <span>{{ column.name | translate }}</span>
</ng-template>

<ng-template #senderDisplayNameCellTemplate let-value="value">
  <span class="body-medium text-amber-600">{{ value }}</span>
</ng-template>
<ng-template #paymentTypeCellTemplate let-value="value">
  <span class="text-pink-600 dark:text-pink-500">{{ value | titlecase }}</span>
</ng-template>

<ng-template #dpsCellTemplate let-value="value">
  {{ getDpsInfo(value) }}
</ng-template>

<ng-template #transactionDateCellTemplate let-value="value">
  {{ value | date : "dd. MM. yyyy" }}
</ng-template>

<ng-template #statusCellTemplate let-value="value">
  @if (value == 'success') {
  <span
    class="label-medium bg-green-100 text-green-600 dark:bg-lime-100 dark:text-lime-600 px-2 py-1 rounded-sm"
    >{{ value | uppercase | translate }}</span
  >
  } @else {
  <span
    class="label-medium bg-yellow-100 text-yellow-600 dark:bg-yellow-100 dark:text-yellow-600 px-2 py-1 rounded-sm"
    >{{ value | uppercase | translate }}</span
  >

  }
</ng-template>
