@let dps = dpsRes();

<div class="w-full p-4 flex flex-col gap-4" [animate.enter]="'enter-animation'">
  @if(dps) {
  <div class="flex flex-row justify-between">
    <div class="flex flex-col gap-1 items-center">
      <div class="flex flex-row gap-1 items-center">
        <button mat-icon-button (click)="goBack()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <div class="flex flex-row gap-1">
          <span class="title-large">{{ dps.dpsName }}</span>
          @switch (dpsStatus) { @case ("Active") {
          <span class="text-green-600 body-small">{{
            "ACTIVE" | translate
          }}</span>
          } @case ("Upcoming") {
          <span class="text-yellow-600 body-small">{{
            "UPCOMING" | translate
          }}</span>
          } @default {
          <span class="text-red-600 body-small">{{
            "EXPIRED" | translate
          }}</span>
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row space-between gap-4 mt-4 w-full">
    <div class="flex flex-col gap-4 w-full max-w-[380px]">
      <mat-card appearance="outlined" class="p-4">
        <div class="flex flex-col gap-4 items-center relative">
          <span class="title-large text-gray-400">
            {{ "DPS_OVERVIEW" | translate }}
          </span>
          <app-progress-spinner
            [occupied]="getTotalInstallPercentageAmount(dps)"
          ></app-progress-spinner>
          <span class="text-gray-500 dark:text-gray-300"
            >{{ dps.totalDeposit }} /
            {{ dps.monthlyAmount * dps.durationMonths }}</span
          >
        </div>
      </mat-card>
      <mat-card appearance="outlined" class="p-4">
        <div class="flex flex-row gap-4">
          <div class="flex flex-col gap-4 w-full">
            <div class="flex flex-col gap-1">
              <span class="body-small text-gray-400">{{
                "ACCOUNT_NO" | translate
              }}</span>
              <span class="body-large text-gray-600 dark:text-gray-300">{{
                dps.accountNo
              }}</span>
            </div>
            <div class="flex flex-col gap-1">
              <span class="body-small text-gray-400">{{
                "MONTHLY_DEPOSIT" | translate
              }}</span>
              <span class="body-large text-gray-600 dark:text-gray-300">{{
                dps.monthlyAmount | taka
              }}</span>
            </div>
            <div class="flex flex-col gap-1">
              <span class="body-small text-gray-400">{{
                "START_DATE" | translate
              }}</span>
              <span class="body-large text-gray-600 dark:text-gray-300">{{
                dps.startDate | date : "dd. MM. yyyy"
              }}</span>
            </div>
          </div>
          <div class="flex flex-col gap-4 w-full">
            <div class="flex flex-col gap-1">
              <span class="body-small text-gray-400">{{
                "INTEREST_RATE" | translate
              }}</span>
              <span class="body-large text-gray-600 dark:text-gray-300"
                >{{ dps.interestRate }}%</span
              >
            </div>
            <div class="flex flex-col gap-1">
              <span class="body-small text-gray-400">{{
                "DURATION_MONTHS" | translate
              }}</span>
              <span class="body-large text-gray-600 dark:text-gray-300">{{
                dps.durationMonths
              }}</span>
            </div>
            <div class="flex flex-col gap-1">
              <span class="body-small text-gray-400">{{
                "MATURITY_DATE" | translate
              }}</span>
              <span class="body-large text-gray-600 dark:text-gray-300">{{
                dps.maturityDate | date : "dd. MM. yyyy"
              }}</span>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <mat-card appearance="outlined" class="p-4 w-full">
      <div class="flex flex-col space-between items-start w-full gap-4">
        <span class="body-small text-gray-400 dark:text-gray-300">{{
          "DPS_OWNERS" | translate
        }}</span>
        @for (owner of dps.dpsOwners; track $index) {
        <span
          class="flex flex-row items-start gap-2 cursor-pointer my-[6px] w-full pr-4"
        >
          <app-avatar [displayName]="owner.displayName" />
          <div class="flex flex-col w-[85%] gap-4">
            <span class="body-medium">{{ owner.displayName }}</span>
            <mat-progress-bar
              class="fat rounded-xl"
              mode="determinate"
              [value]="getOwnerInstallmentPercentageAmount(dps, owner)"
            ></mat-progress-bar>
            <div class="flex flex-wrap gap-1">
              @for (installmentDate of owner.installmentDates; track $index) {
              <mat-chip class="success">{{
                installmentDate | date : "MMM yyyy"
              }}</mat-chip>
              }
            </div>
          </div>
          <div class="flex flex-col gap-1">
            @if(dps.canUpdate) {
            <button mat-icon-button (click)="addMoneyToDps(owner)">
              <mat-icon>add_circle</mat-icon>
            </button>
            }
            <span class="text-gray-500 dark:text-gray-300"
              >{{ (owner.installmentDates ?? []).length }} /
              {{ dps.durationMonths }}</span
            >
          </div>
        </span>
        }
      </div>
    </mat-card>
  </div>

  } @else {
  <app-no-data-view />
  }
</div>
